{% set title = "Контакты Fitness Energy" %}
{% extends "layouts/default.html" %}
{% block content %}

  <main class="main">
    <section class="prices-page">
      <div class="price__banner">
        <div class="container">
          <div class="price__banner-box">
            <h1 class="title-page prices-page__title">
            цены
            <span class="orange">
              на клубные карты
            </span>
            </h1>
            <div class="price__banner-content">
              <div class="price__banner-subtitle-box">
                <p class="price__banner-subtitle">
                  Разовое посещение стандарт: 500 ₽
                </p>
                <p>
                  Разовое посещение <span class="orange">премиум:</span> 700 ₽
                </p>
              </div>
              <div class="price__banner-description">
                <p class="price__banner-text">
                  Можно пользоваться всей инфраструктурой тренажерного зала, а также посетить любое групповое направление. Время не ограничено
                </p>
                <b class="price__banner-text strong">
                  Для оформления требуется документ , удостоверяющий личность
                </b>
              </div>

            </>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>

{% endblock %}