$xxl: 'max-width: 1699.9px' 
$xl: 'max-width: 1399.9px'
$l: 'max-width: 1199.9px'
$m: 'max-width: 991.9px'
$s: 'max-width: 767.9px'
$xs: 'max-width: 575.9px'

$anim: 0.3s ease-in-out
$font-family: "Golos Text", sans-serif
$font-title: "Roboto", sans-serif
$black-color: #141414
$orange-color: #FF6A00
$white-color: #fff
$background-grey: rgba(241, 242, 244, 0.78)
$background-card: #f1f2f4
$black-color-title: #282828
$black: #000
$text-grey: #c2c2c2
$red: #FF0000
